.login-page-div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-box{
    margin-top: 50px;
    margin-left: 15rem;
    width: 450px0px;
    border: 3px solid gray;
    border-radius: 20px;
    padding:10px;
    padding-left: 90px;
    padding-top: 40px;
    padding-bottom: 50px;
    background-color: #e7ebe9;
}
.h3-login{
    font-size: 45px;
    font-weight: 700;
    padding-top: 10px;
    background-color: #e7ebe9;
    color: #2b4d42;
    margin-left: 50px;
}
.login-para{
    font-size: 0.95rem;
    padding-right: 60px;
    padding-top: 10px;
    color: #597168;
    text-align: center;
    background-color: #e7ebe9;
    margin-left: 20px
}
.label{
    padding-top: 20px;
    font-weight: 500;
    color: #3f4e49;
    background-color: #e7ebe9;
    margin-left: 15px;

}
.label-input{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #e7ebe9;
    margin-left: 50px;

}
.input-class{
    width: 250px;
    height: 42px;
    border-radius: 5px;
    padding-left: 20px;
    padding: 5px 20px;
    font-size: 15px;
    border: 2px solid gray;
    background-color: #e7ebe9;

}
.forgot-pass-btn{
    border: none;
    background-color: #eff2f1;
    color: #3b5d50;
    margin-left: 170px;
    font-size: 12px;
    margin-top: 3px;
    cursor: pointer;
    max-width: 100px;
    background-color: #e7ebe9;
    margin-left: 100px;

}
.forgot-pass-btn:hover{
    text-decoration: underline;
}
.btn-div{
    display: flex;
    flex-direction: column;
    background-color: #e7ebe9;
    margin-left: 70px;

}
.login-page-btn{
    width: 250px;
    margin-left: 20px;
    margin-top: 15px;
    height: 40px;
    border-radius: 20px;
    background-color: #f9bf29;
    font-size: 15px;
    font-weight: 500;
    border: none;
}
.login-page-btn:hover{
    background-color: #f3d892;
}
.login-with-google{
    width: 250px;
    margin-left: 20px;
    margin-top: 15px;
    height: 43px;
    border-radius: 20px;
    background-color: #4285f4;
    font-weight: 500;
    border: none;
    font-size: 15px;
}
.login-with-google:hover{
    background-color: #357ae8;
}
.hr-page{
    margin-top: 20px;
    width: 300px;
    display: flex;
    /* flex-direction: row; */
    margin-left: 2px;

}
.sofa-login-img{
    padding-left: 130px;
    width: 35rem;
    padding-top: 130px;
}
.Toastify__toast {
    background-color: #fff !important; 
    color: #000 !important;           
    box-shadow: none !important;      
}


.Toastify__toast-container {
    background: none !important;      
}