.chooseus{
    padding: 30px 100px;
    display: flex;
    padding-top: 165px;
}
.left-choose{
    max-width: 700px;
}
.choose-heading{
    font-size: 30px;
    color: #2f2f2f;
    font-weight: 500;
}
.choose-para{
    padding-top: 10px;
    color: #6a6a6a;
    line-height: 25px;
    font-size: 0.85rem;
}
.left-choose-bottom{
    padding-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.card{
    max-width: 350px;
    margin-left: 20px;
}
.left-choose-bottom-para1{
    padding-top: 8px;
    font-size: 0.85rem;
    font-weight: 700;
    color: #2f2f2f;
}
.left-choose-bottom-para2{
    padding-top: 10px;
    font-size: 0.95rem;
    font-weight: 400;
    color: #4f4f4f;
}
.support-choose {
    padding-top: 20px;
}
.choose-img{
    position: relative;
    z-index: 2;
}
.right-choose{
    padding-left: 70px;
}
.right-choose-img{
    width: 500px;
    border-radius: 20px !important;

}